* {
    font-family: Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2; /* Greyish background color */
}

.Bar {
    display: flex;
    text-decoration: none;
    padding: 0;
    margin: 0;
    justify-content: flex-start;
    border: none;
    background-color: lightgrey; /* Light grey background color for navbar */
    height: 50px;
    overflow: hidden;
}

.Bar a {
    padding: 14px 16px;
    display: inline-block;
    text-decoration: none;
    color: #fff; /* White text color */
}

.Bar a:hover {
    background-color: #27ae60; /* Green background color on hover */
    height: 55px;
}

.Bar-1 {
    background-color: black;
    height: 50px;
    width: 70px;
    
}

.Bar-2 {
    height: 50px;
    width: 75px;
    float: right;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Set height to 100% of viewport height */
}

form {
    max-width: 550px;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white */
    padding: 40px;
    border-radius: 5px;
}

h1 {
    margin: 0;
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 20px 0;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}

input[type="text"]:focus,
textarea:focus {
    border: 1px solid #27ae60;
}

input[type="submit"] {
    background-color: #27ae60;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 100%; /* Make button full width */
    margin-top: 20px; /* Add spacing */
}

input[type="submit"]:hover {
    background-color: #000; /* Black background color on hover */
}

textarea::-webkit-scrollbar-thumb {
    background-color: purple;
}

.error {
    color: red;
}

.error-border {
    border-bottom: 1px solid red;
}

#success {
    color: #28a745;
}
